# Ignorar o ambiente virtual
venv/
.venv/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos temporários
*.log
*.tmp

# Configurações de IDEs
.vscode/
.idea/

# Arquivos do sistema
.DS_Store
Thumbs.db
